<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!-- spawn robot and load controllers -->
  <include file="$(find ros_autonomous_manipulator_mobilerobot)/launch/robot_controllers_spawner.launch"/> 

  <!-- open gazebo and load world -->
  <arg name="gui" default="false"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ros_autonomous_manipulator_mobilerobot)/worlds/assessment_with_boxes.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  
  <!-- run script to move boxes to a different place every time -->  
  <node name="move" pkg="ros_autonomous_manipulator_mobilerobot" type="move_semi_random" />
</launch>

