<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!-- spawn robot and load controllers -->
  <include file="$(find ros_autonomous_manipulator_mobilerobot)/launch/robot_controllers_spawner.launch"/> 
  
  <!-- load the gazebo world - enable/disable the GUI -->  
  <arg name="gui" default="false"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ros_autonomous_manipulator_mobilerobot)/worlds/assessment.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

</launch>
