<launch>

  <!-- arguments - enable RVIZ -->
  <arg name="rviz"          default="true" /> 	
  <arg name="model"         default="$(find xacro)/xacro --inorder $(find assessmentmobilerobots_2022)/models/robot_design/urdf/robot_design.urdf"/>
  <arg name="rvizconfig"    default="$(find assessmentmobilerobots_2022)/parameters/navigation.rviz" />
  <arg name="x_pos"         default="6.0"/>
  <arg name="y_pos"         default="-3.0"/>
  <arg name="z_pos"         default="0.0"/>

  <!-- load the gazebo world - disable the GUI -->  
  <arg name="gui" default="true"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find assessmentmobilerobots_2022)/worlds/assessment.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  
  <!-- spawn the XACRO robot in Gazebo -->  
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find assessmentmobilerobots_2022)/models/robot_design/urdf/robot_design.urdf" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" 
  args="-urdf -model robot_design -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" >
  </node>
  
  <!-- load the joint controllers -->  
  <rosparam command="load" file="$(find assessmentmobilerobots_2022)/models/robot_design/config/joints.yaml" ns="joint_state_controller" />
  <rosparam command="load" file="$(find assessmentmobilerobots_2022)/models/robot_design/config/diffdrive.yaml" ns="diff_drive_controller" />
  <rosparam command="load" file="$(find assessmentmobilerobots_2022)/models/robot_design/config/arm.yaml" ns="arm_controller" />
  <rosparam command="load" file="$(find assessmentmobilerobots_2022)/models/robot_design/config/gazebo_ros_control_params.yaml" />
           
  <!-- spawn the controllers -->
  <node name="rdif_control_spawner" pkg="controller_manager" type="spawner" respawn="true" output="screen" args="joint_state_controller diff_drive_controller"/> 
  <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn arm_controller" respawn="false" output="screen"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
      <param name="use_sim_time" value="true"/>
  </node>    

  <!-- run RVIZ -->
  <group if="$(arg rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  </group>
</launch>
