<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- run launch file for the gazebo world and pass the argument of the gui enabled/disabled -->
  <!-- <include file="$(find assessmentmobilerobots_2022)/launch/assessment_world_empty_personalrobot.launch"/> -->
  <include file="$(find assessmentmobilerobots_2022)/launch/assessment_world_boxes_personalrobot.launch">
          <arg name="gui" value="true"/>
  </include>
  
  <!-- arguments -->
  <arg name="opencv"     default="true" />
  <arg name="rviz"       default="true" /> 
  <arg name="rvizconfig" default="$(find assessmentmobilerobots_2022)/rviz/robot_visualize_config.rviz" />
  
  
  <!-- run robot steering node -->
  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/cmd_vel"/>
  </node>
  
  
  <!-- run RVIZ -->
  <group if="$(arg rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  </group>
  
  
  <!-- run computer vision python script for box detection and joint movement -->
  <group if="$(arg opencv)">
    <node name="opencv_boxcheck" pkg="assessmentmobilerobots_2022" type="opencv_boxcheck" /> 
  </group>
  
</launch>

