<?xml version="1.0" encoding="UTF-8"?>

<!-- SPAWN THE ROBOT AND LOAD ITS CONTROLLERS -->
<launch> 
  <arg name="x_pos"         default="0.0"/>
  <arg name="y_pos"         default="0.0"/>
  <arg name="z_pos"         default="0.0"/>


  <!-- spawn the XACRO robot in Gazebo -->  
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find assessmentmobilerobots_2022)/models/robot_design/urdf/robot_design.urdf" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" 
  args="-urdf -model robot_design -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" >
  </node>
  
  <!-- load the joint controllers -->  
  <rosparam command="load" file="$(find assessmentmobilerobots_2022)/models/robot_design/config/arm.yaml"/>
  <rosparam command="load" file="$(find assessmentmobilerobots_2022)/models/robot_design/config/gazebo_ros_control_params.yaml" />
           
  <!-- spawn the controllers -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
      <param name="use_sim_time" value="true"/>
  </node> 
  
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller arm_controller claw_controller gripper_controller"/>
  
</launch>
